.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  
  .example-card {
    width: 85%;
    max-width: 600px;
    position: absolute;
    top: 7%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  form {
     
      /* width: -webkit-fill-available; */
      
      max-width: 500px;
      width: 98%;
      margin-left: auto;
      margin-right: auto;
    }

    .field-full-width {
      width: 98%;
    }
    
    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
    }
    mat-card-title {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #31305A;
    }
  
    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: #31305A;
      text-align: center;
    }
    .example-container mat-form-field + mat-form-field {
      margin-left: 8px;
    }
  
   
  .button-class {
    background: #31305A;
    color: #FFFFFF;
    width: 98%;
    height: 48px;
    /* top: 5rem; */
    margin-top: 1rem;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center;
    align-items: center; */
    /* padding: 12px 104px; */
    /* gap: 8px; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 24px; */
    text-align: center;
    border: 1px solid #31305A;
    border-radius: 8px;
  }

  .opposite {
    background: #FFFFFF;
    color: #31305A ;
  }

  button:hover{
    cursor: pointer;
  }

 .container{
  display: flex;
  justify-content: space-around;
 }
.left{
  width:48%;
}
.right{
  width:48%;
} 