<mat-card style="padding: 0 20px 0 20px; margin-bottom: 10px;">
    <mat-card-content style="display: flex; justify-content: space-between; gap:15px">
        <div style="display: flex; flex-direction: column">
            <span style="justify-self: start; font-size: medium; font-weight: 700;">5.00PM</span>
            <span>Dhaka</span>
            <img src="../../../assets//indigo logo.png"/>
        </div>
        
        <img style="height: 10px; align-self: center; " src="../../../assets/line.png" />
        <div style="display: flex; flex-direction: column; justify-self: end; text-align: right;">
            <span style="font-size: medium; font-weight: 700;">8.00PM</span>
            <span>Dubai</span>
            <span style="font-size: medium; font-weight: 500;">From: $200</span>
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>