* {
    margin: 0;
  }
  
/* body {
    display: flex;
    background-color: white;
    justify-content: center;
    font-family: sans-serif;
} */
 
/* .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  414px;
    height: 896px;
    background: #222;
    color: black;
    margin: 0 0;
    background-color: white;

} */

.button-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 104px;
    gap: 8px;
    background: #31305A;
    border: 5px solid #31305A;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
