
    <mat-card>
        <mat-card-header >
            <mat-card-title><mat-icon>history</mat-icon> Trip History</mat-card-title>
        </mat-card-header>
        <mat-stepper *ngFor="let trip of selectedFlights" orientation="vertical" #stepper [linear]="isLinear">
            <mat-step *ngFor="let flightOption of  trip.trip" [completed]="isCompleted">

                    <ng-template matStepperIcon="edit">
                        <mat-icon>list</mat-icon>
                    </ng-template>

                    <ng-template matStepLabel style="font-weight:lighter;display:flex;flex-direction:row;justify-content: space-around; align-items: center;"> {{flightOption.segments[0].departure.iataCode | uppercase}}  <span> to </span> {{flightOption.segments[flightOption.segments.length-1].arrival.iataCode | uppercase}}
                    </ng-template> 
            
                    <ng-template matStepContent>
                        <app-confirm-flights 
                          [flights]="flightOption"
                          ></app-confirm-flights>
                      </ng-template>
    
                
            </mat-step>
        </mat-stepper>
    </mat-card>