.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #31305a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.pageHead {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: 31305;
  font-weight: 500;
  width: 100%;
  color: #31305a;
  font-size: 1.5rem;
  word-spacing: 0.4rem;
  margin-left: 0.5rem;
  line-height: 2rem;
  word-spacing: normal;
}

.maincard {
  padding-bottom: 5%;
  width: 100%;

}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin: 0 0;
  background-color: white;
}

/* .viewFlightsBtn {
    background-color: white;
    padding: 10px 0px 10px 0px;
    margin: 0.5% 5%;
    font-size:large;
    font-weight: 700;
    border: 0;
  } */

.viewFlightsBtn:disabled,
.addLocationBtn:disabled {
  background-color: rgba(211, 211, 211, 0.51);
  color: #31305a;
  border-color: rgba(211, 211, 211, 0.51);
}

button {
  width: 90%;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 4%;
}

.addLocationBtn {
  color: #31305a;
  background: #ffffff;
  border: 2px solid #31305a;
  border-radius: 5px;
}

.viewFlightsBtn {
  color: #ffffff;
  background: #31305a;
  border: 2px solid #31305a;
  border-radius: 5px;
}
