.selectItem{
    margin-top: 25px;
    display: flex;
    flex-direction: column ;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

.msg {
    margin-left: auto;
    margin-right: auto;
    color: green;
}
.failed {
    color: red;
}
.SearchFlightBtn{
    padding: 3% 0;
    margin: 0 2%;
    font-size: medium;
    font-weight: 600;
    border: 0;
    background-color: rgb(173, 207, 238);
}
.SearchFlightBtn:disabled{
    background-color: rgb(229, 243, 255);
}
.iconControl{
    margin-bottom: 3%;
    text-align: right;
}