.selectItem{
    margin-top: 25px;
    display: flex;
    flex-direction: column ;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

.msg {
    margin-left: auto;
    margin-right: auto;
    color: green;
}
.failed {
    color: red;
}
.SearchFlightBtn{
    padding: 2% 0;
    margin: 0 2%;
    font-size: medium;
    font-weight: 600;
}