<form class="selectItem" [formGroup]="travelForm" (submit)="searchFlightFunc()">
  <div class="iconControl">
    <mat-icon *ngIf="this.travelFormArray.length>1" (click)="openDialog()">remove_circle_outline</mat-icon>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>From</mat-label>
    <input formControlName="from" [matAutocomplete]="auto1" matInput placeholder="Enter a city"
    id="input-from"
     />
    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
      <mat-option *ngFor="let option of locationArray" (onSelectionChange)="getAirportRoutes(option)"
        [value]="option.city + ' - ' + option.iata 
        "
        
        >
        {{ option.city }} - {{ option.iata }}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matPrefix>flight_takeoff</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>To</mat-label>
    <input data-cy="to" formControlName="to" [matAutocomplete]="auto2" matInput placeholder="Enter a city" (keyup)="toFilter($event)" />
    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
      <mat-option  *ngFor="let option of matchedCity"
        [value]="option.city + ' - ' + option.iata">
        {{ option.city }} - {{ option.iata }}
      </mat-option>

    </mat-autocomplete>
    <mat-icon matPrefix>flight_land</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>MM/DD/YYYY</mat-label>
    <input data-cy="date" formControlName="date" [min]="minDate" matInput [matDatepicker]="datepicker" />
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button style="background-color: #31305a; color: white" matDatepickerApply>
          Apply
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
<button class="SearchFlightBtn" type="submit" [disabled]="disable" data-cy="searchFlight">Search Flights</button>
  <div data-cy="flightFound" *ngIf="item.isSuccess" class="msg">{{flightNumber}}<span>Flights Found!</span></div>
  <div data-cy="notFound" *ngIf="item.isFailed" class="msg failed"> <span>No Flights Found!</span></div>
</form>

