mat-card-header {
    color: #31305A;
    margin-left: 1rem;
}


::ng-deep .mat-vertical-stepper-content 
{
    visibility: visible !important;
    height: 100% !important;
}

::ng-deep .mat-step-icon-content { 
    display: none !important; 
} 

::ng-deep .mat-step-icon {
	border-radius: 50%;
	height: 2rem !important;
	width: 2rem !important;
	/* position: relative;
    top:-6px!important; */
    background-color: #31305A;
}

