body {
  text-align: center;
  padding: 40px 0;
  /* background: #ebf0f5; */
}
.noshadow{
  box-shadow: none !important;
}
h1 {
  color: #31305a;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
p {
  color: #31305a;
  font-size: 20px;
  margin: 0;
}
i {
  color: #9abc66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}
