<div class="main-container">
        <mat-card class="example-card">
            <mat-card-title>Hi, Welcome Back! 👋</mat-card-title>
            <div data-cy="error" class="error" *ngIf="isError">{{userError}}</div>
            <div class="error success" *ngIf="isSubmitted">Login Successfull</div>
            <mat-card-content>
                <form [formGroup]="loginForm" >
                    <app-input-field 
                    [control]="loginForm.controls.email" 
                    label="Email" 
                    type="email"
                    placeHolder="example@gmail.com"
                    id="login-email"
                    >
                    
                    </app-input-field>
                    
                    
                     <app-input-field 
                    [control]="loginForm.controls.password" 
                     label="Password" 
                     type="password"
                     placeHolder="enter your password"
                     id="login-password">
                     
                    </app-input-field>
        
                    <button class="button-class" type='submit' (click)="login()" data-cy="login" >Sign In</button>
                    <p>Don’t have an account?  <a routerLink="/signup" style="font-weight: bolder;text-decoration: underline;">Sign Up</a></p>
                    
                </form>
                
            </mat-card-content>
    </mat-card>
    <ng-lottie
        class="bg"
        [options]="options" 
        (animationCreated)="onAnimate($event)">
    </ng-lottie>
</div>



