<h3 class="error">{{msg}}</h3>

<mat-stepper orientation="vertical">
    <mat-step  *ngFor="let flightOption of searchResults">
      <ng-template matStepLabel style="font-weight:lighter;display:flex;flex-direction:row;justify-content: space-around; align-items: center;"> <mat-icon>flight_takeoff</mat-icon>{{flightOption[0].segments[0].departure.iataCode | uppercase}}  <span> to </span>   <mat-icon>flight_land</mat-icon>{{flightOption[0].segments[flightOption[0].segments.length-1].arrival.iataCode | uppercase}}
      </ng-template>
        
        <ng-template matStepContent>
          <app-select-flights *ngFor="let flights of flightOption" 
            [flights]="flights" 
            (selectFlightEvent)="handleSelect($event)"
            [selected]="selectedFlight.includes(flights)"
            ></app-select-flights>
        </ng-template>

      <!-- <button *ngIf="flights !== selectedFlights[0]" mat-button matStepperPrevious>Back</button>
      <button *ngIf="flights !== selectedFlights[selectedFlights.length - 1]" mat-button matStepperNext>Next</button> -->
    </mat-step>

  </mat-stepper>

  <div class="sticky-bottom">
    <button class="button-class" type='submit' (click)="confirm()">Confirm <mat-icon>arrow_right_alt</mat-icon></button>
</div>







<!-- 
  <mat-stepper orientation="vertical">

    <mat-step  *ngFor="let eachFlight of selectedFlights">
      <ng-template matStepLabel style="font-weight:lighter;display:flex;flex-direction:row;justify-content: space-around; align-items: center;"> <mat-icon>flight_takeoff</mat-icon>  {{eachFlight.from.iataCode | uppercase}} to <mat-icon>flight_land</mat-icon>  {{eachFlight.to.iataCode | uppercase}}
      </ng-template>
      <ng-template matStepContent>
        <app-select-flights [selectedFlights]="eachFlight"></app-select-flights>
        <button *ngIf="eachFlight !== selectedFlights[0]" mat-button matStepperPrevious>Back</button>
        <button *ngIf="eachFlight !== selectedFlights[selectedFlights.length - 1]" mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>

  </mat-stepper> -->
