.arrow {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}


.pageHead{
  margin-left: 2rem;
  /* margin-top: 1rem; */
  font-weight: 500;
  width: 60%;
  color: #31305a;
  font-size: 1.5rem;
  line-height: 2rem;
  word-spacing: normal;
  margin-top: 10%;
}


.selectFlight {
  margin-bottom: 10vh;
}

.icon {
  margin-right: 0.5rem;
}

.step-label {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


::ng-deep mat-stepper {
  margin: 0 !important;
  /* margin-left: 0 !important;
  margin-right: 0 !important;  */

}

::ng-deep .mat-step-icon {
  border-radius: 50%;
  height: 2rem !important;
  width: 2rem !important;
  background-color: #31305A;
}

.button-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 104px; */
    gap: 8px;
    border: none;
    background: rgb(49, 48, 90, 0.0);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 24px; */
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

}

button:hover {
  cursor: pointer;
  box-shadow: #31305A;
}

.buttontext{
  align-self: center;
}
.sticky-bottom {
    width: 100%;
    height: 10vh;
    background-color: #31305A;
    /* background: rgb(49, 48, 90, 0.8); */
    position: fixed;
    bottom: 0;
    left:0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.error {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 5px 8px;
  background-color: rgb(243, 131, 131);
  color: white;
  border-radius: 5px;
}



@keyframes errorAnimation {
  0% {
    /* background-color: rgb(243, 131, 131); */
    display: inline-block;
    opacity: 1;

    /* visibility: visible; */
  }

  50% {
    /* background-color: rgb(132, 233, 44); */
    /* display: inline-block; */
    /* visibility: visible; */
    display: inline-block;
    opacity: 0.5;
  }

  100% {
    /* visibility: hidden; */
    /* background-color: rgb(75, 97, 243); */

    display: none;
    opacity: 0;
    top: -200%;
    /* visibility: hidden; */

  }
}

.stepper {
  margin-bottom: 10%;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}



.backButton{

  background-color: #41406d;
}

.errorContainer {
  text-align: center;
  position: relative;
}