<div class="selectFlight">

    <h3 class="pageHead">Select the flights you want to book...</h3>
    <div *ngIf="isError" class="errorContainer ">
        <span class="error">{{msg}}</span>
    </div>


    <mat-stepper orientation="vertical" class="stepper">
        <mat-step  *ngFor="let flightOption of searchResults">
            <ng-template class="step-label" matStepLabel>
                <mat-icon class="icon">flight_takeoff</mat-icon>{{
                flightOption.availableFlights[0].segments[0].departure.iataCode | uppercase }}
                <span style="margin: 1rem;"> to </span> <mat-icon class="icon">flight_land</mat-icon>{{
                flightOption.availableFlights[0].segments[flightOption.availableFlights[0].segments.length - 1].arrival
                .iataCode | uppercase
                }}
                <!-- <span style="margin: 1rem;"> on </span>  {{flightOption.date | date }} -->
            </ng-template>

            <ng-template matStepContent>
                <app-select-flights *ngFor="let flights of flightOption.availableFlights" [flights]="flights"
                    (selectFlightEvent)="handleSelect($event)"
                    [selected]="selectedFlight.includes(flights)"></app-select-flights>
            </ng-template>
        </mat-step>
    </mat-stepper>


    <div class="sticky-bottom" *ngIf="!isLoading">
        <button class="button-class" (click)="confirm()">
            <div class="buttontext">Confirm Flights</div>
            <img class="arrow"  src="../../../assets/arrow-pointing-to-right-in-a-circle.png" />
        </button>
    </div>

</div>