.bg {
    position: absolute;
    bottom: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: auto;
}
.login-box {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 132px;
    z-index: 1;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .field-full-width {
    width: 100%;
}
 
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  mat-card-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #31305A;
  }

  p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #31305A;
    text-align: center;
  }
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
  .example-card {
    width: 25rem;
    margin-bottom: 8px;
  }
  
 button {
    /* position: absolute; */
    width: 23rem;
    height: 48px;
    left: 2.5rem;
    top: 5rem;
    background-color: #31305A;
    margin-top: 1rem;

}

 
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:  414px;
  height: 896px;
  background: #222;
  color: black;
  margin: 0 0;
  background-color: white;

}

.button-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 104px;
  gap: 8px;
  background: #31305A;
  border: 5px solid #31305A;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}


.container{
  display: flex;
  justify-content: space-between;
}
.left{
  width:48%;
}
.right{
  width:48%;
}