<div class="main-container">
        <mat-card class="example-card">
            <mat-card-title>Create an account</mat-card-title>
            <div class="error" *ngIf="isError">{{userError}}</div>
            <div class="error" *ngIf="isPassError">{{userError}}</div>
            <div class="error" *ngIf="isSubmitted">signup Successful</div>
            <!-- <mat-card-title>Sketch your flights with us</mat-card-title> -->
            <mat-card-content>
                <form [formGroup]="signupForm" class="form">

                    <div class="container">
                        <div class="left">
                            <app-input-field [control]="signupForm.controls.firstName" label="First Name" type="text"
                                placeHolder="example: Kazi">
                            </app-input-field>
                        </div>
                        <div class="right">
                            <app-input-field [control]="signupForm.controls.lastName" label="Last Name" type="text"
                                placeHolder="example: Shuhat">
                            </app-input-field>
                        </div>
                    </div>

                    <app-input-field [control]="signupForm.controls.email" label="Email" type="email"
                        placeHolder="example@gmail.com">
                    </app-input-field>

                    <app-input-field [control]="signupForm.controls.password" label="Password" type="password"
                        placeHolder="*********">
                    </app-input-field>

                    <app-input-field [control]="signupForm.controls.confirmPassword" label="confirm Password"
                        type="password" placeHolder="*********">
                    </app-input-field>

                    <app-input-field [control]="signupForm.controls.phoneNumber" label="Phone Number" type="text"
                        placeHolder="Your phone number">
                    </app-input-field>

                    <app-input-field [control]="signupForm.controls.passport" label="Passport" type="text"
                        placeHolder="Passport number">
                    </app-input-field>

                    <div class="container">
                        <div class="left">
                            <app-input-field [control]="signupForm.controls.country" label="Country" type="text"
                                placeHolder="Your country name">
                            </app-input-field>
                        </div>

                        <div class="right">
                            <mat-form-field appearance="outline" style="width:100%">
                                <mat-label>Date of birth</mat-label>
                                <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>


                    <!-- <app-input-field type="text" label="First name" holder="Enter your first name" [formControl]="firstNameFormControl"></app-input-field>  -->
                    <!-- <mat-error *ngIf="firstNameFormControl.hasError('required')">
                    First name is <strong>required</strong>
                </mat-error>    -->
                    <!-- <app-input-field type="text" label="Enter your last name" holder="Enter your last name" [formControl]="lastNameFormControl"></app-input-field> -->
                    <!-- <mat-error *ngIf="lastNameFormControl.hasError('required')">
                    Last name is <strong>required</strong>
                </mat-error>                       -->
                    <!-- <app-input-field type="email" label="Enter your email" holder="pat@example.com" [formControl]="emailFormControl"></app-input-field>   -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>  -->
                    <!-- <app-input-field type="password" label="Enter your password" holder="Enter your password" [formControl]="passwordFormControl"></app-input-field>  -->
                    <!-- <mat-error *ngIf="passportFormControl.hasError('required')"> 
                    Password is <strong>required</strong>
                </mat-error>    -->
                    <!-- <app-input-field type="password" label="Confirm your password" holder="Confirm your password" [formControl]="confirmPasswordFormControl"></app-input-field>   -->
                    <!-- <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>   -->
                    <!-- <app-input-field type="date" label="Date of Birth" holder="Date of Birth" [formControl]="dobFormControl"></app-input-field> -->
                    <!-- <mat-error *ngIf="dobFormControl.hasError('required')">
                    Date of Birth is <strong>required</strong>
                </mat-error>   -->
                    <!-- <app-input-field type="text" label="Country" holder="Country" [formControl]="countryFormControl"></app-input-field> -->
                    <!-- <mat-error *ngIf="countryFormControl.hasError('required')">
                    Date of Birth is <strong>required</strong>
                </mat-error>     -->
                    <!-- <app-input-field type="text" label="Passport No." holder="Passport No." [formControl]="passportFormControl"></app-input-field>    -->


                    <!-- <p *ngIf="error" class="error">
                        {{ error }}
                    </p> -->

                    <button class="button-class" (click)="signup()">Sign Up</button>
                    <p>Already have an account? <span style="font-weight: bolder;text-decoration: underline;"
                            routerLink="/login">Log In</span></p>


                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-lottie class="bg" [options]="options" (animationCreated)="onAnimate($event)">
    </ng-lottie>
