<div class="main-container">
        <mat-card class="example-card">
            <mat-card-title>Create an account</mat-card-title>
            <div class="error" *ngIf="isError">{{userError}}</div>
            <div class="error" *ngIf="isPassError">{{userError}}</div>
            <div class="error" *ngIf="isSubmitted" [ngStyle]="{'color': (!isSubmitted) ? 'red' : ((isSubmitted) ? 'green' : null) }">signup Successful</div>

            <mat-card-content>
                <form [formGroup]="signupForm" class="form">

                    <div class="container">
                        <div class="left">
                            <app-input-field [control]="signupForm.controls.firstName" label="First Name" type="text"
                                placeHolder="John" icon="contacts">
                            </app-input-field>
                        </div>
                        <div class="right">
                            <app-input-field [control]="signupForm.controls.lastName" label="Last Name" type="text"
                                placeHolder="Doe">
                            </app-input-field>
                        </div>
                    </div>

                    <app-input-field [control]="signupForm.controls.email" label="Email" type="email"
                        placeHolder="johndoe@gmail.com" icon="email">
                    </app-input-field>

                    <!-- <app-input-field [control]="signupForm.controls.password" label="Password" type="password"
                        placeHolder="*********" icon="visibility_off">
                    </app-input-field> -->

                    <div>
                        <mat-form-field appearance="outline" class="field-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput
                                [type]="hidePass ? 'password' : 'text'"                             
                                formControlName = "password" 
                                placeholder ="*********"
                            >
                        <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>


                    <!-- <app-input-field [control]="signupForm.controls.confirmPassword" label="confirm Password"
                        type="password" placeHolder="*********">
                    </app-input-field> -->

                    <div>
                        <mat-form-field appearance="outline" class="field-full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput
                                [type]="hideConfirmPass ? 'password' : 'text'"                             
                                formControlName = "confirmPassword" 
                                placeholder ="*********"
                            >
                        <mat-icon matSuffix (click)="hideConfirmPass = !hideConfirmPass">{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>

                    <app-input-field [control]="signupForm.controls.phoneNumber" label="Phone Number" type="text"
                        placeHolder="Phone number" icon="phone">
                    </app-input-field>

                    <app-input-field [control]="signupForm.controls.passport" label="Passport" type="text"
                        placeHolder="Passport No" icon="library_books">
                    </app-input-field>

                    <!-- <div class="container"> -->
                        
                        <!-- <div class="left"> -->

                            <mat-form-field appearance="outline" style="width: 98%;">
                                <mat-label>Country</mat-label>
                                <input formControlName="country" [matAutocomplete]="auto1" matInput placeholder="Country name" />
                                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                                  <mat-option *ngFor="let country of countryList"
                                    [value]="country.name">
                                    {{ country.name }}
                                  </mat-option>
                                </mat-autocomplete>
                                <mat-icon matPrefix>room</mat-icon>
                              </mat-form-field>

                            <!-- <app-input-field [control]="signupForm.controls.country" label="Country" type="text"
                                placeHolder="Country" icon="add_location">
                            </app-input-field> -->
                        <!-- </div> -->

                        <!-- <div class="right"> -->
                            <mat-form-field appearance="outline" style="width:98%">
                                <mat-label>Date of birth</mat-label>
                                <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" [max]="validAge">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        <!-- </div> -->
                    <!-- </div> -->

                    <button class="button-class" (click)="signup()">Sign Up</button>
                    <p>Already have an account? <span style="font-weight: bolder;text-decoration: underline;"
                            routerLink="/login">Log In</span></p>


                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <ng-lottie class="bg" [options]="options" (animationCreated)="onAnimate($event)">
    </ng-lottie> -->
