
/* .logo {
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    left: 1px;
    z-index: 1;
} */

.logoDesign{
  width: 16%;
  min-width: 120px;
  max-width: 200px;
}

.colored-nav {
    background-color: #E0F6F7;
}
.non-colored-nav {
    background-color: transparent;
}
