<div style="display: flex; justify-content: space-between; gap: 10%; width: full;">
    <div style="display: flex; gap: 10%;">
        <img src="../../../assets/AirplaneTakeoff.png"/>
        <span>{{selectedFlights.from.iataCode}}</span>
    </div>
    <img src="../../../assets/location line.png" style="height: 2px; min-width: 80px; max-width: 300px; align-self: center;
    "/>
    
      <div style="display: flex; gap: 10%; text-align: right">
        <img src="../../../assets/AirplaneLanding.png"/>
        <span>{{selectedFlights.to.iataCode}}</span>
    </div>
  </div>