<mat-card style="padding: 0 20px 0 20px;">
    <mat-card-content style="display: flex; gap: 10px; justify-content: space-between;">
        <div style="display: flex; flex-direction: column">
            <span style="justify-self: start;">5.00PM</span>
            <span>Dhaka</span>
        </div>
        
        <img style="height: 10px; align-self: center;" src="../../../assets/line.png" />
        <div style="display: flex; flex-direction: column">
            <span style="justify-self: end;">8.00PM</span>
            <span>Dubai</span>
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-content style="display: flex; gap: 10px; justify-content: space-between;">
        
            <span style="justify-self: start;">Logo</span>
            
        
       
            <span style="justify-self: end;">Price</span>
            
       
    </mat-card-content>
</mat-card>