mat-card-title {
  font-size: 15px;
  margin-bottom: 0;
}

mat-icon {
  color: gray;
}

::ng-deep example-card { 
  margin-top: 0 !important; 
  margin-left: 0 !important; 
  margin-right: 0 !important; 
} 

.date-iata {
  font-size: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #31305A;
    font-weight: bolder;
    font-size: large;
}
.airport {
  display: flex;
  justify-content: center;
  justify-items: space-around;
  text-align: center;
}

.hr-line{
  width: 100%;
  align-items: center;
  margin-top: 5%;
  position: relative;
}
.hr-icon {
  position: absolute;
  top: -1.2rem;
  animation: icon-move 5s infinite;
}
@keyframes icon-move {
  0%{left: 0%;}
  100%{left: 80%;}
}

.priceBox {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly; 
  color: #31305A;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }
  .left{
    width:50%;
    justify-content: start;
  }
  .right{
    margin-left: 0.5rem;
    width:50%;
    margin-left: auto;
    justify-content: end;
  }


.selected {
  border:  #31305A solid 2px;
}