
<mat-card class="example-card" style="margin-bottom: 10px;" (click)="handleClick()" [class.selected]="selected">

        <mat-card-header class="airport" *ngFor="let eachSegment of flights.segments">
            <div style="justify-content: start; text-align: left;width:100%; ">
                <mat-card-title>{{eachSegment.departure.at | date: "h:mm a"}}</mat-card-title>
                <mat-card-subtitle class="date-iata">
                    <span style="float:left;margin-right: 0.2rem;">{{eachSegment.arrival.at | date: "mediumDate"}} </span>
                    <span >{{eachSegment.arrival.iataCode | uppercase}}</span>
                   <!-- {{eachSegment.departure.at | date: "mediumDate"}}    
                   {{eachSegment.departure.iataCode | uppercase }} -->
                </mat-card-subtitle>
            </div>
    
            <div class="hr-line">
                <hr>   
                <span class="hr-icon"><mat-icon>flight_takeoff</mat-icon></span>
            </div>
    
            <div style=" text-align: right; width:100%;">
                <mat-card-title>{{eachSegment.arrival.at | date: "h:mm a" }}</mat-card-title>
                <mat-card-subtitle class="date-iata">
                    <span>{{eachSegment.arrival.at | date: "mediumDate"}} </span>
                    <span style="float:right;margin-left: 0.2rem;">{{eachSegment.arrival.iataCode | uppercase}}</span> 
                </mat-card-subtitle>
            </div> 

        </mat-card-header>
        <mat-card-content class="priceBox">
                <h3>Price  ${{flights.price}}</h3>
        </mat-card-content>

</mat-card> 


<!-- 
<mat-card style="margin-bottom: 10px;">
    <mat-card-header class="logo">
        {{selectedFlights.carrierCode}} -->
        <!-- <img src="../../../assets//indigo logo.png"/> -->
    <!-- </mat-card-header>
    
    <mat-card-header class="airport">
        <div style="justify-content: start; text-align: left;width:100%; ">
            <mat-card-title>{{selectedFlights.from.time}}</mat-card-title>
            <mat-card-subtitle>{{selectedFlights.from.iataCode | uppercase }}</mat-card-subtitle>
        </div>

        <div class="hr-line">
            <hr>   
            <span class="hr-icon"><mat-icon>airplane_ticket</mat-icon></span>
        </div>

        <div style=" text-align: right; width:100%;">
            <mat-card-title>{{selectedFlights.to.time}}</mat-card-title>
            <mat-card-subtitle>{{selectedFlights.to.iataCode | uppercase}}</mat-card-subtitle>
        </div>   
    </mat-card-header>
    <mat-card-header style="display:flex; flex-direction:row">
            <div style="justify-content: end; text-align: left; width: 40%;">
                <p>{{selectedFlights.from.airportName}}</p>
            </div>
            <div style="justify-content: center; text-align: left; width: 20%;">
              
            </div>
            <div style="justify-content: end; text-align: right;width: 40%;">
                <p>{{selectedFlights.to.airportName}}</p>
            </div>        
    </mat-card-header>
    <mat-divider></mat-divider>
        <mat-card-content style="display:flex;flex-direction:row;justify-content: space-evenly;margin-top: 0.5rem;">
                <h1 style="font-weight: lighter;">Price</h1>
                <h1> {{selectedFlights.price}}</h1>
        </mat-card-content>

</mat-card>  -->










<!-- <mat-card style="margin-bottom: 10px;">
    <mat-card-header>Carrier Code</mat-card-header>
    <mat-card-content style="display: flex; justify-content: space-between; gap:15px">
        <div style="display: flex; flex-direction: column">
            <span style="justify-self: start; font-size: medium; font-weight: 700;">5.00PM</span>
            <span>Dhaka</span>
        </div>
        
        <img style="height: 10px; align-self: center; max-width: 50%; " src="../../../assets/line.png" />
        <div style="display: flex; flex-direction: column; justify-self: end; text-align: right;">
            <span style="font-size: medium; font-weight: 700;">8.00PM</span>
            <span>Dubai</span>
            <span style="font-size: medium; font-weight: 500;">Price: $200</span>

        </div> 

        <mat-divider>           
       </mat-divider>
    </mat-card-content>
    
</mat-card> -->



<!-- <mat-card style=" border-style: solid; border-width: 2px; border-color: #31305A;">
    <mat-card-content style="display: flex; justify-content: space-between; gap:15px">
        <div style="display: flex; flex-direction: column">
            <span style="justify-self: start; font-size: medium; font-weight: 700;">5.00PM</span>
            <span>Dhaka</span>
            <img src="../../../assets//indigo logo.png"/>
        </div>
        <img style="height: 10px; align-self: center; max-width: 50%;" src="../../../assets/line.png" />
        <div style="display: flex; flex-direction: column; justify-self: end; text-align: right;">
            <span style="font-size: medium; font-weight: 700;">8.00PM</span>
            <span>Dubai</span>
            <span style="font-size: medium; font-weight: 500;">From: $200</span>
        </div>
    </mat-card-content>
</mat-card> -->





