<div class="confirmFlight">
    <!-- <app-back-button prev="search-flights"></app-back-button> -->
    <h3 class="pageHead">Your trip summary...</h3>
    <mat-stepper orientation="vertical">
        <mat-step *ngFor="let flightOption of selectedFlights">
            <ng-template matStepLabel style="font-weight:lighter;display:flex;flex-direction:row;justify-content: space-around; align-items: center;"> {{flightOption.segments[0].departure.iataCode | uppercase}}  <span> to </span> {{flightOption.segments[flightOption.segments.length-1].arrival.iataCode | uppercase}}
            </ng-template> 
    
            <ng-template matStepContent>
                <app-confirm-flights 
                  [flights]="flightOption"
                  ></app-confirm-flights>
              </ng-template>
            
        </mat-step>
    </mat-stepper>
    <div class="sticky-bottom">
        <button class="button-class" type='submit' (click)="checkout()" 
        data-cy="confirm"
        > 
            <div class="buttontext">Total Price ${{totalPrice}}</div>
            <img class="arrow"  src="../../../assets/arrow-pointing-to-right-in-a-circle.png" />
        </button>
    </div>

        
        
    




