
::ng-deep mat-stepper {
  margin: 0 !important;
}

::ng-deep .mat-step-icon {
  border-radius: 50%;
  height: 2rem !important;
  width: 2rem !important;
  background-color: #31305A;
}

::ng-deep .mat-step-icon-content { 
  display: none !important; 
} 

.confirmFlight {
  margin-bottom: 10vh;
}


.pageHead{
  margin-left: 2rem;
  /* margin-top: 1rem; */
  font-weight: 500;
  width: 60%;
  color: #31305a;
  font-size: 1.5rem;
  line-height: 2rem;
  word-spacing: normal;
  margin-top: 10%;
}

.stepper{
  bottom: 10% !important;
}

.arrow {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}

/* ::ng-deep .mat-vertical-stepper-content 
{
    visibility: visible !important;
    height: 100% !important;
}

::ng-deep .mat-step-icon-content { 
    display: none !important; 
} 

::ng-deep .mat-step-icon {
	border-radius: 50%;
	height: 2rem !important;
	width: 2rem !important;
	background-color: #31305A;
} */



.margin-div{
  margin-top: 5%;
}

.backButton{
  background-color: #41406d;
}

::ng-deep mat-stepper {
  margin: 0 !important;

}
/* 
::ng-deep .mat-vertical-stepper-content 
{
    visibility: visible !important;
    height: 100% !important;
}

::ng-deep .mat-step-icon-content { 
    display: none !important; 
    color: #31305A;
} */


.button-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 12px 104px; */
  gap: 8px;
  border: none;
  background: rgb(49, 48, 90, 0.0);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 24px; */
  text-align: center;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;

  }
  
  button:hover {
    cursor: pointer;
    box-shadow: #31305A;
  }


.buttontext{
  align-self: center;
}
.matLabel{
  font-weight:lighter;
  display:flex;
  flex-direction:row;
  justify-content: space-around; 
  align-items: center;
}
  .sticky-bottom {
    width: 100%;
    height: 10vh;
    background-color: #31305A;
    /* background: rgb(49, 48, 90, 0.8); */
    position: fixed;
    bottom: 0;
    left:0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }

